.App {
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.form {
  display: flex;
}

.form button,
.form input {
  padding: 6px 14px;
  cursor: pointer;
}
